* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(197, 238, 238);
    padding: 40px;
}

.slide {
    max-width: 1100px;
    height: 420px;
    margin: auto;
    border-radius: 16px;

    background: url(lms.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
}

.slide-content {
  text-align: center;
  color: #fff;
  max-width: 700px;
  display: grid;
  gap: 20px;
}


.slide-content button {
  justify-self: center;
  background-color: #2563eb;
  color: white;

}

