* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aqua;
    padding: 40px;
}

.hero {
    max-width: 1100px;
    height: 420px;
    margin: auto;
    border-radius: 16px;

    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(lms.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
    
}